*{
  background-color: #8CABFF;
}
.app{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
  flex-direction:column ;
}
.gameboards{
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  color: #35155D;
  border: solid 10px #35155D;
}
.square{
  height: 100px;
  width: 100px;
  border: solid 2px #512B81;
  box-sizing: border-box;
display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  height:90px;
  width: 90px;
  border: 15px solid;
  box-sizing: border-box;
  border-radius: 100%;
  color: #CECE5A;
}
.cross{
  height:90px;width: 90px;position: relative;
  transform: rotate(45deg);
  background: transparent;
}
.cross:before,.cross:after{
  content:"";
  position: absolute;
  background-color: red;
  
}
.cross:before {
  left: 52%;
  width: 24%;
  margin-left: -15%;
  height: 100%;
}
.cross:after{
  top: 50%;
  height: 22%;
  margin-top: -15%;
  width: 100%;
}